/*Don't write any CSS here, add CSS into appropriate modules instead*/
@charset 'UTF-8';

/*Import all the css files in here*/
@import './footer.css';
@import './home.css';
@import './public.css';
@import './navbar.css';
@import url('https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100');

/*Global Design Settings*/
body {
  background-color: #FCFCFC;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
