.LoginSignupPageBackground {
  background: linear-gradient(270deg, #1d6ab9, #43cea2, #1ec7ac, #56b4d3, #9182FF, #6FA8FE);
  background-size: 800% 800%;

  -webkit-animation: LoginPageBackgroundAnimation 30s ease infinite;
  -moz-animation: LoginPageBackgroundAnimation 30s ease infinite;
  -o-animation: LoginPageBackgroundAnimation 30s ease infinite;
  animation: LoginPageBackgroundAnimation 30s ease infinite;
}

@-webkit-keyframes LoginPageBackgroundAnimation {
    0% {background-position:0 50%}
    50% {background-position:100% 50%}
    100% {background-position:0 50%}
}
@-moz-keyframes LoginPageBackgroundAnimation {
    0% {background-position:0 50%}
    50% {background-position:100% 50%}
    100% {background-position:0 50%}
}
@-o-keyframes LoginPageBackgroundAnimation {
    0% {background-position:0 50%}
    50% {background-position:100% 50%}
    100% {background-position:0 50%}
}
@keyframes LoginPageBackgroundAnimation {
    0% {background-position:0 50%}
    50% {background-position:100% 50%}
    100% {background-position:0 50%}
}

.LoginSignupPageSwitch-enter {
  opacity: 0.01;
}

.LoginSignupPageSwitch-enter.LoginSignupPageSwitch-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.LoginSignupPageSwitch-leave {
  opacity: 1;
}

.LoginSignupPageSwitch-leave.LoginSignupPageSwitch-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
