.Navbar {
  height: 64px;
  margin-bottom: 0;
  background-color: #2BBBAD;
  border: 0;
  border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.BrandIconWrapper {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0;
}

.BrandIcon {
  background-image: url(../img/Logo/Logo.png);
  background-size: contain;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-image: 0;
  vertical-align: middle;
}

.BrandName {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  display: inline-block;
  margin-top: 20px;
}

.NavbarToggle {
  border: 0px solid transparent;
  margin-top: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.NavbarLinks {
  color: white;
  font-size: 16px;
  margin-top: 7px;
}

.navbar-default .navbar-nav>li>a {
  color: inherit;
}

/*Smaller than smartphone*/
@media (max-width: 425px) {
  .BrandIcon {
    margin-left: 10px;
  }
  /*Navbar toggle background after clicked*/
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #494B6C;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 9px;
    border-color: #333;
  }
  .NavbarLinks {
    color: #333;
  }
}
