/*Public*/
.Public {
  margin-left: 0;
  margin-right: 0;
}

.Banner {
  background: url(../img/Public/Background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 575px;
  margin-top: 64px;
}

.SloganWrapper {
  margin-top: 0;
  padding-top: 130px;
}

.Slogan {
  color: white;
  font-weight: 400;
}

.AppStore {
  background-image: url(../img/Public/AppStore.svg);
  width: 135px;
  height: 40px;
  margin-top: 40px;
}

.PublicPhonesWrapper {
  position: relative;
  float: right;
  width: 100%;
  min-width: 384px;
  max-width: 450px;
}

.PublicPhones1 {
  background-image: url(../img/Public/HomePhone1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 480px;
  width: 235px;
  margin-top: 50px;
  position: relative;
  float: right;
}

.PublicPhones2 {
  background-image: url(../img/Public/HomePhone2.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 415px;
  width: 200px;
  margin-top: 115px;
  margin-left: 50px;
  position: absolute;
}


/*Public Section*/
.PublicSection {
  height: auto;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  background-color: #FCFCFC;
}
.PublicSectionImage {
  height: 400px;
  width: 100%;
  margin: 50px auto;
}
.TextsImage {
  background: url(../img/Public/TextsImage.png) no-repeat center center;
  background-size: contain;
}
.ClassesImage {
  background: url(../img/Public/ClassesImage.png) no-repeat center center;
  background-size: contain;
}
.LanguageImage {
  background: url(../img/Public/LanguageImage.png) no-repeat center center;
  background-size: contain;
}
.TextsWrapper {
  display: block;
  margin: 120px auto;
  width: 80%;
}


/*Forms*/
/*Outside form*/
.publicFormWrapper {
  margin-top: 200px;
}
.publicFormSwitches {
  text-align: center;
}
.publicFormSwitches Button {
  text-decoration: underline;
}

/*Log in form*/
.loginForm input {
  margin: 5px 0;
}
.loginFormSubmitButton {
  display: block;
  margin: 15px auto;
}

/*Sign up form*/
.signupForm input {
  margin: 5px 0;
}
.signupFormSubmitButton {
  display: block;
  margin: 15px auto;
}


/*Responsive Designs*/
/*Smaller than tablet*/
@media (max-width: 991px) {
  /*Banner*/
  .Banner {
    height: auto;
  }
  .SloganWrapper {
    text-align: center;
    padding-top: 80px;
  }
  .AppStore {
    margin-left: auto;
    margin-right: auto;
  }
  .PublicPhonesWrapper {
    display: block;
    margin: 0 auto;
    float: initial;
  }
  .PublicPhones1 {
    margin-right: 25px;
    margin-bottom: 50px;
  }
  .PublicPhones2 {
    margin-left: 25px;
    margin-bottom: 50px;
  }

  /*PublicSection*/
  .PublicSectionImage {
    margin-left: auto;;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .ClassesImage {
    margin-bottom: 50px;
    margin-top: 0;
  }
  .TextsWrapper {
    text-align: center;
    margin: 50px auto;
    max-width: 400px;
  }
}

/*Smaller than smartphone*/
@media (max-width: 425px) {
  /*Banner*/
  .PublicPhonesWrapper {
    min-width: 0;
  }
  .PublicPhones1 {
    display: block;
    margin: 50px auto;
    float: initial;
    position: initial;
  }
  .PublicPhones2 {
    display: none;
  }
}
