.SignInBackground {
  background: linear-gradient(270deg, #1d6ab9, #43cea2, #1ec7ac, #52adcb, #9182FF, #6FA8FE);
  background-size: 800% 800%;

  -webkit-animation: SignInBackgroundAnimation 30s ease infinite;
  -moz-animation: SignInBackgroundAnimation 30s ease infinite;
  -o-animation: SignInBackgroundAnimation 30s ease infinite;
  animation: SignInBackgroundAnimation 30s ease infinite;
}

@-webkit-keyframes SignInBackgroundAnimation {
    0% {background-position:0 50%}
    50% {background-position:100% 50%}
    100% {background-position:0 50%}
}
@-moz-keyframes SignInBackgroundAnimation {
    0% {background-position:0 50%}
    50% {background-position:100% 50%}
    100% {background-position:0 50%}
}
@-o-keyframes SignInBackgroundAnimation {
    0% {background-position:0 50%}
    50% {background-position:100% 50%}
    100% {background-position:0 50%}
}
@keyframes SignInBackgroundAnimation {
    0% {background-position:0 50%}
    50% {background-position:100% 50%}
    100% {background-position:0 50%}
}

.SignInStartAnimation-appear {
  opacity: 0;
}

.SignInStartAnimation-appear.SignInStartAnimation-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.SignInFormSwitchAnimation-enter {
  opacity: 0;
}

.SignInFormSwitchAnimation-enter.SignInFormSwitchAnimation-enterActive {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.SignInFormSwitchAnimation-leave {
  opacity: 0;
}

.SignInFormSwitchAnimation-leave.SignInFormSwitchAnimation-leaveActive {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.SignInFormSwitchAnimation-appear {
  opacity: 0;
}

.SignInFormSwitchAnimation-appear.SignInFormSwitchAnimation-appearActive {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.SignInFormWrapper {
  position: relative;
}

.SignInFormRow {
  padding-top: 150px;
  height: 100vh;
}

.SignInForm {
  background-color: #525479;
  border-radius: 12px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
  /*background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 15px;*/
  height: 480px;
  padding: 0 35px;
  position: relative;
}

.PageTitle {
  text-align: center;
  color: white;
  font-weight: 300;
  margin-bottom: 35px;
  padding-top: 35px;
}

.SignInSwitchButtonWrapper {
  position: absolute;
  left: 50%;
  bottom: 5%;
}

.SignInSwitch {
  color: white;
  text-decoration: underline;
  display: block;
  margin: 0 auto;
  position: relative;
  left: -50%;
}

.SignInSwitch:focus, .SignInSwitch:hover {
  color: white;
  outline: 0;
  text-decoration: underline;
}

.SignInSwitch.active, .SignInSwitch:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
  text-decoration: underline;
}

.SignInFooterText {
  color: white;
  font-size: 16px;
  margin-top: 70px;
  text-align: center;
}

/*Smaller than smartphone*/
@media (max-width: 425px) {
  .SignInFormRow {
    padding-top: 70px;
  }
  .SignInForm {
    background-color: transparent;
  }
  .SignInSwitchButtonWrapper {
    position: relative;
    left: 0;
  }
  .SignInSwitch {
    left: 0;
  }
  .SignInFooterText {
    margin-top: 35px;
  }
}

/*Form*/
.Form input {
  margin: 5px 0;
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 0;
  /*border-radius: 6px;*/
  border-width: 0;
  border-bottom: 1px solid white;
  /*border: 1px solid white;*/
  box-shadow: inset 0 0 0 transparent;
}

.Form input:focus, .Form input:hover {
  box-shadow: inset 0 0 0 transparent, 0 0 0 transparent;
  border-bottom: 2px solid white;
}

/*Placeholder hint color*/
.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

/*Autofill, this won't work in Chrome as Google designed it to be*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill,
input:-webkit-autofill:focus, textarea:-webkit-autofill:focus, select:-webkit-autofill:focus {
  background-color: transparent !important;
  color: white !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -moz-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
}

.FormSubmitButton, .FormSubmitButton:active, .FormSubmitButton:focus,
.FormSubmitButton:focus:active, .FormSubmitButton:hover{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 80px;
  /*background-color: #494B6C;
  border-color: #494B6C;*/
  background-color: #2BBBAD;
  border-color: #2BBBAD;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 6px;
}

/*Smaller than smartphone*/
@media (max-width: 425px) {
  .LoginSubmitButton {
    margin-bottom: 178px;
  }
}
