.Home {
  margin-left: 0;
  margin-right: 0;
  padding-top: 64px;
}

.CircleImageView {
	display: inline-block;
	margin: auto 10px;
	border-radius: 50px;
}

.CenteringImage {
	margin: 0 auto;
}

.UserPropertiesPopoverListItem:hover {
  background-color: #efefef;
}

.SettingsSideBar {
  background-color: #fbfbfb !important;
}
