.Navbar {
  height: 64px;
  margin-bottom: 0;
  background-color: #494B6C;
  border: 0;
  border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.BrandIconWrapper {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0;
}

.BrandIcon {
  background-image: url(../img/Logo/Logo.png);
  background-size: contain;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-image: 0;
  vertical-align: middle;
}

.BrandName {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  display: inline-block;
  margin-top: 20px;
}

.NavbarToggle {
  border: 0 solid transparent;
  margin-top: 15px;
}

 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
 .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
 {
  color: #2BBBAD;
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a {
  color: white;
  background-color: transparent;
}

.NavbarLinks {
  color: white;
  font-size: 16px;
  margin-top: 7px;
  background-color: transparent;
}

.navbar-default .navbar-nav > .NavbarSignIn > a:focus,
.navbar-default .navbar-nav > .NavbarSignIn > a:hover {
  color: white;
  outline-width: 0;
}

.navbar-default .navbar-nav>li>a {
  color: inherit;
}

.NavbarSignIn {
  background-color: #2BBBAD;
  border-radius: 6px;
  margin-top: 12px;
  margin-left: 5px;
}

.nav > .NavbarSignIn > a {
  padding: 10px 15px;
}

/*Smaller than tablets*/
@media (max-width: 767px) {
  .BrandIcon {
    margin-left: 10px;
  }

  .navbar-header, .navbar-collapse {
    padding: 0 15px;
  }

  /*Navbar toggle background after clicked*/
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  /*Navbar toggle color*/
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 8px;
    border-color: transparent;
  }

  .navbar-nav {
    margin-top: 0;
  }

  .NavbarLinks {
    margin-top: 0;
  }

  .NavbarSignIn {
    background-color: #494B6C;
    border-radius: 0;
    margin-left: 0;
  }

  .navbar-default .navbar-nav > .NavbarSignIn > a:focus,
  .navbar-default .navbar-nav > .NavbarSignIn > a:hover {
    color: white;
    outline-width: 0;
    background-color: #2BBBAD;
  }

  .navbar-default .navbar-nav > .NavbarSignIn > a,
  .navbar-default .navbar-nav > .NavbarSignIn + .active > a {
    background-color: #2BBBAD;
  }

  .active {
    background-color: #494B6C;
    font-weight: bold;
  }

  .nav > li > a {
    background-color: #494B6C;
    font-size: 18px;
  }

  .navbar-default .navbar-nav>li>a {
    color: white;
    padding: 15px 25px;
  }

  /*Navbar links on hover*/
  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav >
  .active > a:focus {
    color: white;
    outline-color: transparent;
    font-weight: normal;
    background-color: #494B6C;
  }
}
