.hideElement {
	display: none;
}

.SignUpSetupPageTitle {
	color: white;
	font-weight: 300;
	text-align: center;
	padding: 30px 0;
}

.SignupLoadMore {
	width: 90%;
	color: white;
	background-color: #2BBBAD;
	border-color: #2BBBAD;
	outline-color: #2BBBAD;
	font-size: initial;
	height: 50px;
	margin: 2px 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 2px;
	text-align: center;
}

.SignupLoadMore.active, .SignupLoadMore:active, .open>.dropdown-toggle.SignupLoadMore,
.SignupLoadMore.focus, .SignupLoadMore:focus, .SignupLoadMore:hover,
.SignupLoadMore.hover, .SignupLoadMore:hover .SignupLoadMore.active.focus,
.SignupLoadMore.active:focus, .SignupLoadMore.active:hover,
.SignupLoadMore:active.focus, .SignupLoadMore:active:focus, .SignupLoadMore:active:hover,
.open>.dropdown-toggle.SignupLoadMore.focus, .open>.dropdown-toggle.SignupLoadMore:focus,
.open>.dropdown-toggle.SignupLoadMore:hover {
	color: #333333;
	background-color: #2BBBAD;
	border-color: #2BBBAD;
	outline-color: #2BBBAD;
	box-shadow: 0 3px 6px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46);
}

.SignupListItem {
	width: 90%;
	color: #333333;
	background-color: #FBFBFB;
	border-color: #FBFBFB;
	outline-color: #FBFBFB;
	font-size: initial;
	height: 65px;
	margin: 2px 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 2px;
	text-align: left;
	line-height: 60%;
	font-weight: 400;
	padding-top: 19px;
	padding-left: 10px;
}

.SignupListItem.active, .SignupListItem:active, .open>.dropdown-toggle.SignupListItem,
.SignupListItem.focus, .SignupListItem:focus, .SignupListItem:hover,
.SignupListItem.hover, .SignupListItem:hover .SignupListItem.active.focus,
.SignupListItem.active:focus, .SignupListItem.active:hover,
.SignupListItem:active.focus, .SignupListItem:active:focus, .SignupListItem:active:hover,
.open>.dropdown-toggle.SignupListItem.focus, .open>.dropdown-toggle.SignupListItem:focus,
.open>.dropdown-toggle.SignupListItem:hover {
	color: #333333;
	background-color: #FBFBFB;
	border-color: #FBFBFB;
	outline-color: #FBFBFB;
	box-shadow: 0 3px 6px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46);
	cursor: pointer;
}

.itemCheckWrapper {
	float: right;
	background-color: #2BBBAD;
	border-radius: 300px;
	padding: 3px;
	margin-top: -15px;
	margin-right: 8px;
}

.itemCheck {
	font-size: 13px;
	color: white;
}

.SignupSchoolName {
	margin-top: 10px;
}

.SignupSchoolCheckbox {
	margin-top: -25px;
}

.SignupCourseSearch, .SignupCourseSearch:hover, .SignupCourseSearch:focus,
.SignupCourseSearch:hover:focus {
	background-color: transparent;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	box-shadow: none;
	border-bottom-width: 1px;
	border-radius: 0;
	color: #FBFBFB;
}

.SignupCourseSearch:hover, .SignupCourseSearch:focus,
.SignupCourseSearch:hover:focus {
	border-bottom-width: 2px;
}

/*Scrollbar*/
.SignupCourseScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

.SignupCourseScroll::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

.SignupCourseScroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #333;
}
