@charset 'UTF-8'
@import './css/animations.css';
@import './css/footer.css';
@import './css/home.css';
@import './css/navbar.css';
@import './css/public.css';
@import './css/signin.css';
@import url('https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100');

body {
  background-color: #FCFCFC;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 18px;
}

.form-control:focus {
  border-color: white;
}

/*container*/
@media (min-width: 1440px) {
  .container {
      width: 1400px;
  }
}